<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <title>MicroUrl</title>
</head>
<body>
    <nav></nav>
    <section>
        <div>縮網址囉</div>
        <input id="address" type="text" placeholder="請輸入要縮的完整網址">
        <button onclick="action()" id="sender">給我縮!</button>
    </section>
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>